.group {
  display: flex;
}

.group__sidebar {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  height: 100%;
  top: 50px;
  position: sticky;
}

.groupSidebar__top {
  display: flex;
  flex-direction: column;
}

.groupSidebar__option {
  display: flex;
  align-items: center;
  padding: 10px;
}

.inputSearch {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  padding: 10px;
  border-radius: 999px;
  margin: 10px;
}

.groupSidebar__bottom {
  display: flex;
  flex-direction: column;
}

.groupSidebar__bottom > button {
  outline: none;
  outline-width: 0;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: #dbe7f2;
  color: #458ce9;
  border-radius: 5px;
}

.groupSidebarBottom__option {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.groupSidebarBottom__option:hover {
  background-color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.groupSidebarBottom__option > .MuiSvgIcon-root {
  cursor: pointer;
  color: gray;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 999px;
}

.groupSidebarBottom__option > h1 {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.groupSidebarBottom__bottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.groupSidebarBottom__bottom > h1 {
  font-size: 18px;
  font-weight: 500;
}

.groupSidebarBottombottom__option:hover {
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 8px;
}

.groupSidebarBottombottom__option {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
}

.groupSidebarBottombottom__option > img {
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 5px;
  object-fit: cover;
}

.groupSidebarBottombottom__option > .MuiSvgIcon-root {
  cursor: pointer;
  color: gray;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 999px;
}

.groupSidebarBottombottomOption__row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.group__feed {
  flex: 0.75;
  display: flex;
  flex-direction: column;
}
